@import "variables";
.dashboard {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .dropbox{
    border: 2px solid orangered;
  }

  .top {
    display: flex;
    justify-content: space-between;
    line-height: 0.5rem;

    .upload {
      border: none;
      background-color: $sky-blue-color;
      color: white;
      padding: 0.8rem 1.4rem;
      border-radius: 0.6rem;
      cursor: pointer;
      font-weight: bold;
    }
  }
  .ghost {
    align-self: center;
    margin-top: 5rem;
    text-align: center;
  }
  .skeleton {
    height: 8rem;
    color: #efefef;
    margin: 10px;
  }
  .list {
    list-style: none;
    a {
      text-decoration: none;
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 20rem;
      padding: 1.5rem 2rem;
      border-radius: 0.2rem;
      box-shadow: 0 0 10px rgb(214, 214, 214);
      .round {
        display: flex;
        gap: 1rem;
        align-items: center;
        .circle {
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: cornflowerblue;
        }
      }
      .detail {
        display: flex;
        gap: 1rem;
        align-items: center;

        .plus,
        .flag {
          display: flex;
          gap: 0.5rem;
          align-items: center;
        }
        .delete {
          padding: 0.4rem 2rem;
          background-color: rgb(248, 185, 196, 0.5);
          border-radius: 0.2rem;
          cursor: pointer;
        }
      }
    }
  }
}
