.try{
  .one{
    color:green
  }
  .scroll{
    height: 100vh;
    width: 100vw;
    background-color: beige;
  }
  .scrollOne{
    height: 100vh;
    width: 100vw;
    background-color: rgb(8, 159, 21);
  }
  .scrolltwo{
    height: 100vh;
    width: 100vw;
    background-color: rgb(110, 110, 24);
  }
}
